<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | MindHub Brothers</title>
    <link rel="shortcut icon" href="./assets/images/noTextLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>
<body style="background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%)); display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0;">
    <div style="width: 90%; min-height: 100vh; background-color: #C0C0C0; display: flex;" id="app" class="flex-column flex-sm-row">
        <div style="width: 100%; display: flex; justify-content: center; align-items: center;" class="flex-column flex-sm-column">
            <img src="./assets/images/noTextLogoDark.png" alt="logo" style="width: 10rem;" class="m-sm-5 m-0 col-sm-4 col-12">
            <video controls loop autoplay class="col-6" style=" border: 1px solid #12162A; border-radius: 10px;">
                <source src="./assets/images/mindHubBrothersVideo.mp4" type="video/mp4">
            </video>
        </div>
        <div class="login-box col-12 col-sm-4" style="margin-right: 5rem; display: flex; flex-direction: column; justify-content: center;">
            <h2>REGISTER</h2>
            <form @submit.prevent="register">
                <div class="user-box">
                    <input type="text" name="" required="" v-model="firstName">
                    <label>First Name</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" v-model="lastName">
                    <label>Last Name</label>
                </div>
                <div class="user-box">
                    <input type="email" name="" required="" v-model="email">
                    <label>E-Mail</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="" v-model="password">
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="">
                    <label>Confirm password</label>
                </div>
                <div style="display: flex; align-items: center;">
                    <button type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Create account
                    </button>
                </div>
                <p style="color: #C0C0C0; margin-top: 3.5rem;">*Already have an account?</p>
                <a href="./index.html">Sign in</a>
            </form>
            <p v-if="error" class="error-message" style="color: #C0C0C0;">{{ error }}</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="./scripts/register.js"></script>
</body>
</html>