<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Transfers</title>
    <link rel="stylesheet" href="./assets/transfer.css">
    <link rel="shortcut icon" href="./assets/images/noTextLogo.png" type="image/x-icon">
</head>
<body id="app">
    <nav class="navbar navbar-expand-lg" style="width: 100%;  padding: 0;" id="navigationBar">
        <div class="container-fluid" style="min-height: 5rem; border-bottom: 1px solid #C0C0C0;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse m-0" id="navbarNav" style="width: 5rem !important; gap: 1rem;">
                        <button>
                            <span><a href="./accounts.html" style="text-decoration: none;">HOME</a></span>
                        </button>
                        <button>
                            <span><a href="./accounts.html" style="text-decoration: none;">ACCOUNT</a></span>
                        </button>
                        <button>
                            <span><a href="./cards.html" style="text-decoration: none;">MY CARDS</a></span>
                        </button>
                        <button id="activeButton">
                            <span><a href="#" style="text-decoration: none;">TRANSFERS</a></span>
                        </button>
                        <button @click.prevent="logout">
                            <span><a href="#" style="text-decoration: none;">LOG OUT</a></span>
                        </button>
            </div>
            <img src="./assets/images/noTextLogo.png" style="height: 4rem;" alt="">
        </div>
    </nav>
    <div style="min-height: 100vh; width: 100%; background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%)); display: flex; flex-direction: column;">
        <div class="cajaTitulo" style="min-height: 9rem; width: 100%; display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;">
            <h2 style="font-size: 32px; color:#C0C0C0; font-weight: 100;" class="m-0 col-12 col-sm-6">Make a transfer:</h2>
            <div style="height: 3rem;" class="col-12 col-sm-6">
                <div class="div-mensaje">
                    MindHub Brothers.
                </div>
                <div class="div-mensaje">
                    <span> Your bank</span>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row;" class="col-12 flex-column flex-sm-row">
            <div style=" display: flex; height: 80vh; align-items: center; justify-content: center;" clas="col-12 col-sm-6">
                <img src="./assets/images/transfeImage.png" alt="" style=" border: 1px solid #c0c0c0; border-radius: 20px;"  class="col-12 col-sm-8">
            </div>
            <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;" class="col-12 col-sm-6">
                <form style="background-color: #C0C0C0; color: hsl(230, 40%, 12%); padding: 1.5rem; border-radius: 20px; font-size: 1.3rem;" class="col-12 col-sm-8">
                    <div>
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px; text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source account</label>
                        <div style=" min-height: 3rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
                            <label v-for=" i of data.accounts" style="font-size: large;">
                                <input type="radio"  v-model="cuentaOrigen" v-bind:value="i.number" name="cuentaOrigen">
                                {{i.number}}
                            </label>
                        </div>
                    </div>
                    <div>
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account owner</label>
                        <div style=" min-height: 3rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
                            <label style="font-size: large;">
                                <input type="radio" @click="mostrarDiv1" name="cuenta">
                                OWN ACCOUNT
                            </label>
                            <label style="font-size: large;">
                                <input type="radio" @click="mostrarDiv2" name="cuenta">
                                THIRD PARTY ACCOUNT
                            </label>
                        </div>
                    </div>
                    <div v-if="div1" class="mi-div">
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Destination account</label>
                        <div style=" min-height: 3rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
                            <label v-for=" i of data.accounts" style="font-size: large;">
                                <input type="radio" v-model="cuentaDestino" v-bind:value="i.number" name="cuentaDestino">
                                {{i.number}}
                            </label>
                        </div>
                    </div>
                    <div v-if="div2" class="mi-div">
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Destination account</label>
                        <div style=" min-height: 3rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; width: 100%;">
                            <label style="font-size: large; width: 80%;">
                                <input type="text" v-model="cuentaDestino" name="tipoTarjeta" style="width: 100%;" placeholder="Enter the recipient's account number">
                            </label>
                        </div>
                    </div>
                    <div>
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount</label>
                        <div style=" min-height: 5rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
                            <label style="font-size: large; width: 80%;">
                                <div class="col-12">
                                    $ <input type="number" v-model="monto"  @click="available" name="tipoTarjeta" style="width: 10rem;">
                                </div>
                                <div class="col-12" >
                                    Available amount: $ {{availableAmount}}
                                </div>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label style=" width: 100%; height: 3rem; display: flex; align-items: center; background-color: hsl(230, 40%, 12%); color: #C0C0C0; border-radius: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description</label>
                        <div style=" min-height: 3rem; display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
                            <label style="font-size: large; width: 80%; align-items: center; display: flex; justify-content: center;">
                                <!-- <select name="opciones" id="opciones">
                                    <option value="">--Select an option--</option>
                                    <option value="others">Others</option>
                                    <option value="rent">Rent</option>
                                    <option value="expenses">Expenses</option>
                                    <option value="bill">Bill</option>
                                    <option value="assets">Assets</option>
                                    <option value="loan">Loan</option>
                                    <option value="insurance">Insurance</option>
                                </select> -->
                                <input type="text" v-model="descripcion" name="descripcion" style="width: 100%;" placeholder="Add a description">
                            </label>
                        </div>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: end;">
                        <button class="buttonCreate" type="button" @click="transferir" style="background-color: transparent; border: none; color: hsl(230, 40%, 12%); font-size: 20px; margin-top: 1rem;">+ TRANSFER</button>
                    </div>
                </form>
                <div style="width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 2rem; margin-bottom: 3rem;">
                    <a href="./accounts.html" style="color: #C0C0C0; text-decoration: none;" class="goBackButton">GO TO ACCOUNTS</a>
                </div>
            </div>
        </div>
    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./scripts/transfer.js"></script>
</body>
</html>